<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataFlow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <table>
        <tr>
            <th>Client Name</th>
            <th>Request Synopsis</th>
            <th>Request Create Date</th>
            <th>Target Launch Date</th>
            <th>Est. Date by IT</th>
            <th>Ontime Status</th>
            <th>Current Status</th>
            <th>Remarks</th>
            <th>Actual Live date</th>
            <th>UAT Date</th>
            <th>Give UAT Date</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.client_name}}</td>
            <td>{{i.request_synopsis}}</td>
            <td>{{i.request_created_date}}</td>
            <td>{{i.target_launch_date}}</td>
            <td>{{i.estimated_date}}</td>
            <td>{{i.ontime_status}}</td>
            <td>{{i.current_status}}</td>
            <td>{{i.remarks}}</td>
            <td>{{i.actual_live_date}}</td>
            <td>{{i.uat_date}}</td>
            <td><form method="post" action="{% url 'infofill:uatdate' i.id %}">
                {% csrf_token %}
                <input type="date" name="_date">
                <input type="submit" value="Give date" name="_givedate">
            </form></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/log4uat">Logout</a>
    <a href="{% url 'infofill:email1' %}" class="btn-mail">Click to send email Email after saving</a>



</body>
</html>